.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

h5 {
    text-align: center;
    font-size: 30px;
    padding: 0;
    margin: 0;
    font-weight: 500;
}

p {
    font-style: italic;
}