.container {
    /* height: 50vh; */
    width: 50vw;
    min-height: 200px;
    max-width: 550px;
    background: grey;
    border-radius: 10px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80% 20%;
    justify-content: center;
    align-items: center;
}