.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


button {
    background: rgb(105, 203, 212);
    padding: 1rem;
    box-shadow: none;
    border: 1px solid rgb(75, 153, 160);
    border-radius: 10px;
    width: 40%;
    font-weight: bold;
    font-size: 17px;
}

button:hover {
    cursor: pointer;
    background: rgb(133, 223, 231);
}